<div class="jumbotron text-center">
  <h1>Tic Tac Toe</h1>
  <p>Let's play</p>
</div>

<div>
  <div>
    <div class="input-group center-elements">
      <input type="text" id="from" class="form-control" placeholder="Choose a nickname" [(ngModel)]="userName"/>
      <div class="btn-group">
        <button type="button" id="connect" class="btn btn-sm btn-outline-secondary"
                (click)="connect()">Connect</button>
        <button type="button" id="disconnect" class="btn btn-sm btn-outline-secondary"
                (click)="disconnect()">Disconnect</button>
      </div>
      <div *ngIf="userVerifiedSuccessfully; else userExists">
        <p style="color: green">{{userInfo}}</p>
      </div>
      <ng-template #userExists>
        <p style="color: red">{{userInfo}}</p>
      </ng-template>
    </div>

    <div class="input-group center-elements" *ngIf="connected">
        <div *ngFor="let user of usersList">
          <button  class="btn btn-primary" type="submit"
                  (click)="connectWithSelectedUser(user)">Play with user {{user}}</button>
      </div>
    </div>
  </div>

    <div class="btn-group container form-row" role="group">
      <button type="button" ngDefaultControl class="btn game-button" [(ngModel)]="buttons[0]"
              (click)="setLabelAndSendMove(0)" [disabled]="buttons[0].disabled && disabled">{{buttons[0].text}}</button>
      <button type="button" ngDefaultControl class="btn game-button" [(ngModel)]="buttons[1]"
              (click)="setLabelAndSendMove(1)" [disabled]="buttons[1].disabled && disabled">{{buttons[1].text}}</button>
      <button type="button" ngDefaultControl class="btn game-button" [(ngModel)]="buttons[2]"
              (click)="setLabelAndSendMove(2)" [disabled]="buttons[2].disabled && disabled">{{buttons[2].text}}</button>
    </div>

    <div class="btn-group container form-row" role="group">
      <button type="button" ngDefaultControl class="btn game-button" [(ngModel)]="buttons[3]"
              (click)="setLabelAndSendMove(3)" [disabled]="buttons[3].disabled && disabled">{{buttons[3].text}}</button>
      <button type="button" ngDefaultControl class="btn game-button" [(ngModel)]="buttons[4]"
              (click)="setLabelAndSendMove(4)" [disabled]="buttons[4].disabled && disabled">{{buttons[4].text}}</button>
      <button type="button" ngDefaultControl class="btn game-button" [(ngModel)]="buttons[5]"
              (click)="setLabelAndSendMove(5)" [disabled]="buttons[5].disabled && disabled">{{buttons[5].text}}</button>
    </div>
    <div class="btn-group container form-row" role="group">
      <button type="button" ngDefaultControl class="btn game-button" [(ngModel)]="buttons[6]"
              (click)="setLabelAndSendMove(6)" [disabled]="buttons[6].disabled && disabled">{{buttons[6].text}}</button>
      <button type="button" ngDefaultControl class="btn game-button" [(ngModel)]="buttons[7]"
              (click)="setLabelAndSendMove(7)" [disabled]="buttons[7].disabled && disabled">{{buttons[7].text}}</button>
      <button type="button" ngDefaultControl class="btn game-button" [(ngModel)]="buttons[8]"
              (click)="setLabelAndSendMove(8)" [disabled]="buttons[8].disabled && disabled">{{buttons[8].text}}</button>
    </div>

</div>
