<div class="jumbotron text-center">
  <h1>Tic Tac Toe</h1>
  <p>Let's play</p>
</div>

<div>
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <div class="input-group">
          <input type="text" id="from" class="form-control" placeholder="Choose a nickname" [(ngModel)]="userName"/>
          <div class="btn-group">
            <button type="button" id="connect" class="btn btn-sm btn-outline-secondary" (click)="connect()">Connect
            </button>
            <button type="button" id="disconnect" class="btn btn-sm btn-outline-secondary" (click)="disconnect()"
            >Disconnect
            </button>
          </div>
          <div *ngIf="userVerifiedSuccessfully; else userExists">
            <p style="color: green">{{userInfo}}</p>
          </div>
          <ng-template #userExists>
            <p style="color: red">{{userInfo}}</p>
          </ng-template>
        </div>

        <div *ngIf="connected">
          <div *ngFor="let user of usersList">
            <button class="btn btn-primary" type="submit"
                    (click)="connectWithSelectedUser(user)">Play with user {{user}}</button>
          </div>
        </div>


<!--        <div class="form-horizontal" *ngIf="newInvitation">-->
<!--          <p>{{invitingUser}} wants to play, do you want to join?</p>-->
<!--          <button class="btn btn-primary" (click)="join()">Yes</button>-->
<!--          <button class="btn btn-primary" (click)="refuse()">No</button>-->
<!--        </div>-->

      </div>
      <div class="mb-3" id="users" style="display: none;">
        <span id="active-users-span"></span>
        <ul id="active-users" class="list-group list-group-horizontal-sm"></ul>
      </div>
      <div id="divSelectedUser" class="mb-3" style="display: none;">
        <span id="selectedUser" class="badge badge-secondary"></span> Selected
      </div>
    </div>
  </div>

  <div class="btn-group container form-row" role="group">
    <button type="button" ngDefaultControl class="btn game-button" [(ngModel)]="buttons[0]"
            (click)="setLabelAndSendMove(0)">{{buttons[0].text}}</button>
    <button type="button" ngDefaultControl class="btn game-button" [(ngModel)]="buttons[1]"
            (click)="setLabelAndSendMove(1)">{{buttons[1].text}}</button>
    <button type="button" ngDefaultControl class="btn game-button" [(ngModel)]="buttons[2]"
            (click)="setLabelAndSendMove(2)">{{buttons[2].text}}</button>
  </div>

  <div class="btn-group container form-row" role="group">
    <button type="button" ngDefaultControl class="btn game-button" [(ngModel)]="buttons[3]"
            (click)="setLabelAndSendMove(3)">{{buttons[3].text}}</button>
    <button type="button" ngDefaultControl class="btn game-button" [(ngModel)]="buttons[4]"
            (click)="setLabelAndSendMove(4)">{{buttons[4].text}}</button>
    <button type="button" ngDefaultControl class="btn game-button" [(ngModel)]="buttons[5]"
            (click)="setLabelAndSendMove(5)">{{buttons[5].text}}</button>
  </div>
  <div class="btn-group container form-row" role="group">
    <button type="button" ngDefaultControl class="btn game-button" [(ngModel)]="buttons[6]"
            (click)="setLabelAndSendMove(6)">{{buttons[6].text}}</button>
    <button type="button" ngDefaultControl class="btn game-button" [(ngModel)]="buttons[7]"
            (click)="setLabelAndSendMove(7)">{{buttons[7].text}}</button>
    <button type="button" ngDefaultControl class="btn game-button" [(ngModel)]="buttons[8]"
            (click)="setLabelAndSendMove(8)">{{buttons[8].text}}</button>
  </div>

</div>
